.max_grade_warning {
    color: #c23a34;
    font-weight: bold;
}

#confirm_transfer_table th {
    width: 300px;
}

#transfer_summary {
    margin-top: 30px;
}

#transfer_summary p {
    font-size: 20px;
}

.grades_transfer_summary {
    font-size: 20px;
    margin-top: 30px;
}

#grade_struct_summary .alert {
    font-size: 16px;
}

#report_bath_transfer_blind {
    font-weight: bold;
}

#report_bath_transfer_blind i {
    vertical-align: middle;
}

#transferLogTable {
    width: 100%;
    height: 150px;
    overflow-y:scroll;

}
