.max_grade_warning {
    color: #c23a34;
    font-weight: bold;
}

#confirm_transfer_table th {
    width: 300px;
}

#transfer_summary {
    margin-top: 30px;
}

#transfer_summary p {
    font-size: 20px;
}