<div class="alert alert-success"><span class="fa fa-check-circle-o"></span> Grade successfully sent to SAMIS for student <strong>{{fullname}}</strong> with a grade of <strong>{{mark}}</strong></div>
<p>Button goes here to go back</p>